{% extends 'base.html' %} 	<!-- Base Class'ı extend ediyorum -->

{% block body_content %}

<section id="one" class="wrapper">
    <div class="inner">
        <h3>Giriş</h3>
        <form method="post" action="{{ url_for('Login') }}">
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input
                  type="text"
                  name="username"
                  id="username"
                  value=""
                  placeholder="Kullanıcı Adı"
                />
              </div>
              <div class="6u$ 12u$(xsmall)">
                <input
                  type="password"
                  name="password"
                  id="password"
                  value=""
                  placeholder="Şifre"
                />
              </div>
              <!-- Break -->                                                                                  
              <div class="12u$">
                <ul class="actions">
                  <li><input type="submit" value="GİRİŞ YAP" /></li>                  
                </ul>
              </div>
            </div>
          </form>






    </div>
</section>

{% endblock %}	